<ion-view view-title="主页" ng-app="homePage">
  <ion-content class="padding">
    <p>
      <a class="button icon icon-right ion-chevron-right" href="#/tab/facts">Scientific Facts</a>
    </p>
    <!-- 这里放置top3个左右的新闻 -->
    <ion-list  ng-controller="newsCtrl">
      <ion-item ng-repeat="flightnew in flightNews" class="item-thumbnail-left">
        <img ng-src="{{flightnew.src}}">
        <h2>{{flightnew.title}}</h2>
        <p>{{flightnew.desc}}</p>
      </ion-item>
    </ion-list>
    <!--<div class="list">
      <div class="item item-divider">
        飞行新闻
      </div>
      <a class="item item-thumbnail-left" href="#" ng-repeat="flightnew in flightNews">
        <!-- 这里大约是要用运行时目录的方式来设置
        <img ng-src="{{flightnew.src}}">
        <h2>{{flightnew.title}}</h2>
        <p>{{flightnew.desc}}</p>
        <h2>{{flightnew.title}}</h2>
      </a>
    </div>-->
    <!-- 这里放置3-5个热帖，可以点击更多进入帖子列表 并按回复数之类的进行排序-->
    <div class="item item-divider">
      论坛热帖
    </div>
    <a class="item item-thumbnail-left" href="#">
      <!-- 这里大约是要用运行时目录的方式来设置-->
      <img src="img/avatar.jpg">
      <h2>这里放置论坛帖子的标题</h2>
      <p>这里应该放一点帖子的内容，如果没有摘要，就从帖子里拿些字放在这里吧</p>
    </a>
    </div>
    <!-- 这里放置3-5个新帖，可以点击进入帖子列表，并按发布时间进行排序-->
    <div class="item item-divider">
      最新发布
    </div>
    <a class="item item-thumbnail-left" href="#">
      <!-- 这里大约是要用运行时目录的方式来设置-->
      <img src="img/avatar.jpg">
      <h2>这里放置论坛帖子的标题</h2>
      <p>这里应该放一点帖子的内容，如果没有摘要，就从帖子里拿些字放在这里吧</p>
    </a>
    </div>
  </ion-content>
</ion-view>
