<ion-view title="个人设置">
  <ion-content>
    <div class="list">
      <ul class="list">
        <li class="item item-toggle">
          是否保存密码
          <label class="toggle toggle-positive">
            <input type="checkbox" checked="">
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </li>
      <div class="item">
        @IonicFramework
      </div>
      <div class="item">
        @DriftyTeam
      </div>
    </div>
  </ion-content>
</ion-view>
